<div class="container">

  <% if @guns == [] %>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs first" role="tablist">
        <li role="presentation" class="active onglets-first"><a href="#infos" aria-controls="infos" role="tab" data-toggle="tab" class="onglets-content">Mes infos</a></li>
        <li role="presentation" class="onglets-first"><a href="#reservations" aria-controls="reservations" role="tab" data-toggle="tab" class="onglets-content">Mes réservations</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="infos">
          <%= link_to "Mettre à jour mes informations", edit_user_registration_path %>
          <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
        </div>

        <div role="tabpanel" class="tab-pane" id="reservations">
          <div class="mes-locations">
           <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12">
              <% if @my_rentings != [] %>
                <% @my_rentings.each do |rent| %>
                  <div class="card-my-profile">
                    <img src='<%= cl_image_path rent.gun.photo, crop: :fill%>' class="product-image hidden-xs">
                    <div class='product-body'>
                      <p><%= rent.gun.name %></p>
                      <p>Du <%= rent.start_date %></p>
                      <p>au <%= rent.end_date %></p>
                      <p>Pour <%= rent.amount %> €</p>
                    </div>
                    <ul class="list-inline product-controls hidden-sm hidden-xs">
                        <li>Statut : <%= rent.confirmed %></li>
                        <% if rent.end_date < Date.today %>
                        <li>
                        <div class="status">Finished</div>
                        <% if rent.booking_reviews == [] %>
                        <%= link_to "add a review", new_booking_booking_review_path(rent) %> </li>
                        <% end %>
                        <% end %>
                    </ul>
                    </div>
                  <% end %>
                <% else %>
                  <p>Vous n'avez pas de locations</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs first" role="tablist" id="myTabs">
        <li role="presentation" class="active onglets-first"><a href="#armurerie" aria-controls="armurerie" role="tab" data-toggle="tab" class="onglets-content">Armurerie</a></li>
        <li role="presentation" class="onglets-first"><a href="#infos" aria-controls="infos" role="tab" data-toggle="tab" class="onglets-content">Mes infos</a></li>
        <li role="presentation" class="onglets-first"><a href="#reservations" aria-controls="reservations" role="tab" data-toggle="tab" class="onglets-content onglet-reservation">Mes réservations</a>
        <% if @count_bookings_unanswered != 0 %>
          <div class="notifs"></div>
        <% end %>
        </li>
        <li role="presentation" class="onglets-first"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab" class="onglets-content">Mes avis</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="armurerie">
          <div class="mes-armes">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 ">
                <% @guns.each do |gun| %>
                  <div class="card-my-profile">
                    <%= link_to gun_path(gun) do %>
                      <img src='<%= cl_image_path gun.photo, crop: :fill%>' class="product-image hidden-xs">
                    <% end %>
                    <div class='product-body'>
                      <h3><%= gun.name %></h3>
                      <p><%= gun.category %></p>
                      <p><%= gun.price %> €/jour</p>
                    </div>
                    <ul class="list-inline product-controls hidden-sm hidden-xs">
                      <%= link_to edit_gun_path(gun), class: "edit-gun" do %>
                        <li>Modifier l'annonce</li>
                      <% end %>
                      <%= link_to gun_path(gun) do %>
                          <li><i class="fas fa-binoculars"></i></li>
                      <% end %>
                      <%= link_to gun_path(gun),
                          method: :delete,
                          data: { confirm: "Are you sure?" } do %>
                          <li><i class="fas fa-trash-alt" id="trash-gun"></i></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="infos">
          <%= link_to "Mettre à jour mes informations", edit_user_registration_path %>
          <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
        </div>

        <div role="tabpanel" class="tab-pane" id="reservations">
          <ul class="nav nav-tabs second" role="tablist" id="myTabs">
            <li role="presentation" class="active onglets-second"><a href="#mesresas" aria-controls="mesresas" role="tab" data-toggle="tab" class="onglets-content-second">Mes réservations <%= "(#{@count_bookings_unanswered} en attente)" if @count_bookings_unanswered != 0 %></a></li>
            <li role="presentation" class="onglets-second"><a href="#meslocs" aria-controls="meslocs" role="tab" data-toggle="tab" class="onglets-content-second">Mes locations</a></li>
          </ul>

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="mesresas">
             <div class="mes-reservations">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <% if @my_bookings != [] %>
                    <% @my_bookings.each do |booking| %>
                      <div class="card-my-profile">
                        <img src='<%= cl_image_path booking.gun.photo, crop: :fill%>' class="product-image hidden-xs">
                        <div class='product-body'>
                          <p><%= booking.gun.name %></p>
                          <p>Du <%= booking.start_date %></p>
                          <p>au <%= booking.end_date %></p>
                          <p>Pour <%= booking.amount %> €</p>
                        </div>
                        <ul class="list-inline product-controls hidden-sm hidden-xs">
                          <li>Statut : <%= booking.confirmed %></li>
                            <% if booking.confirmed == "En attente" %>
                              <%= simple_form_for booking do |f| %>
                               <%= f.submit "Accepter", class: "btn btn-primary" %>
                               <input type="hidden" name="status" value="accept">
                              <% end %>
                              <%= simple_form_for booking do |f| %>
                                 <%= f.submit "Refuser", class: "btn btn-primary" %>
                                 <input type="hidden" name="status" value="refuse">
                              <% end %>
                            <% elsif booking.confirmed == "Acceptée" %>
                              <%= simple_form_for booking do |f| %>
                               <%= f.submit "Refuser", class: "btn btn-primary" %>
                               <input type="hidden" name="status" value="refuse">
                             <% end %>
                            <% end %>
                         </ul>
                      </div>
                    <% end %>
                  <% else %>
                    <p>Vous n'avez pas de réservations</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="meslocs">
            <div class="mes-locations">
             <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12">
                <% if @my_rentings != [] %>
                  <% @my_rentings.each do |rent| %>
                    <div class="card-my-profile">
                      <img src='<%= cl_image_path rent.gun.photo, crop: :fill%>' class="product-image hidden-xs">
                      <div class='product-body'>
                        <p><%= rent.gun.name %></p>
                        <p>Du <%= rent.start_date %></p>
                        <p>au <%= rent.end_date %></p>
                        <p>Pour <%= rent.amount %> €</p>
                      </div>
                      <ul class="list-inline product-controls hidden-sm hidden-xs">
                          <li>Statut : <%= rent.confirmed %></li>
                          <% if rent.end_date < Date.today %>
                          <li>
                          <div class="status">Finished</div>
                          <% if rent.booking_reviews == [] %>
                          <%= link_to "add a review", new_booking_booking_review_path(rent) %> </li>
                          <% end %>
                          <% end %>
                      </ul>
                      </div>
                    <% end %>
                  <% else %>
                    <p>Vous n'avez pas de locations</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div role="tabpanel" class="tab-pane" id="reviews">
          <% if @my_reviews == [] %>
          Vous n'avez pas d'avis sur vos locations
          <% else %>
            <div class="reviews-card">
              <% @my_reviews.each do |review| %>
               <div class="booking-recap">
                 <div class="row">
                   <div class="col-md-3 ">
                     <div class="card-avis">
                        <div class="card-head" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path review.booking.gun.photo, crop: :fill%>');">
                       </div>
                        <div class="card-body">
                         <div class="card-category">
                           <h2><%= review.booking.gun.category %></h2>
                         </div>
                         <div class="card-description">
                           <div class="card-name">
                             <h2><%= review.booking.gun.name %></h2>
                           </div>
                           <div class="card-price">
                             <%= review.booking.gun.price %>
                             <p class="jour">/jour</p>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                      <div class="col-md-4 ">
                       <div class="rent-recap">
                         <div class="rent-to">
                          <p><strong> Cette arme a été louée à : </strong></p>
                          <i> <%= review.booking.user.email %></i>
                         </div>
                         <div class="loc-date">
                          <p class ="dates-avis"><strong>Dates de la location : </strong></p>
                          <i class="infos-avis"> Du <%= review.booking.start_date %> Au <%= review.booking.end_date  %></i>
                         </div>
                         <div class="loc-price">
                          <p> <strong>Pour un total de </strong> </p>
                          <p class= "price-avis"> <%= review.booking.amount %> €</p>
                         </div>
                       </div>
                     </div>
                    <div class="col-md-5 ">
                     <div class="review-content">
                       <h3 class="title-review"> L'avis de <%= review.booking.user.email %> </h3>
                       <p class= "review-par"><i> "<%= review.content %> </i>"</p>
                       <h4>Note: <%= review.rating %></h4>
                     </div>
                    </div>
               <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>

  <% end %>

</div>














<!-- <div class="container">
    <div class="row" id="mon-profil-index">
      <div class="tab active col-sm-4">
        <p>Mon armurerie</p>
      </div>
      <div class="tab col-sm-4">
        <p>Mes infos</p>
      </div>
      <div class="tab col-sm-4">
        <p>Mes réservations</p>
      </div>
    </div>
    <div class="mes-armes">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <% @guns.each do |gun| %>
                <div class="card-my-profile">
                  <img src='<%= cl_image_path gun.photo, crop: :fill%>' class="product-image hidden-xs">
                  <div class='product-body'>
                    <h3><%= gun.name %></h3>
                    <p><%= gun.category %></p>
                    <p><%= gun.price %> €/jour</p>
                  </div>
                  <ul class="list-inline product-controls hidden-sm hidden-xs">
                    <%= link_to edit_gun_path(gun), class: "edit-gun" do %>
                      <li>Modifier l'annonce</li>
                    <% end %>
                    <%= link_to gun_path(gun),
                        method: :delete,
                        data: { confirm: "Are you sure?" } do %>
                      <li><i class="fas fa-trash-alt" id="trash-gun"></i></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
    </div>
  </div>
</div> -->
