
<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://a.ltrbxd.com/resized/sm/upload/oy/ok/kt/6q/gran-torino-1920-1920-1080-1080-crop-000000.jpg?k=7d21e5f86e');">
  <div class="banner-content">
    <h1>Ajoutez votre fusil</h1>
    <p>René attend votre fusil dans son armurerie</p>
  </div>
</div>

<div class="row form">
    <div class="col-sm-offset-4 col-sm-4">
      <%= simple_form_for(@gun) do |f| %>
        <div class="form-group">
          <%= f.input :name, label: 'Nom de votre fusil', label_html: { class: 'labels' }%>
        </div>
        <div class="form-group">
          <%= f.label :category, class: 'labels' %>
          <%= f.select :category, Gun::ARMES %>
        <div class="form-group">
          <%= f.input :description, label: 'Description', label_html: { class: 'labels' }%>
        </div>
        <div class="form-group">
          <%= f.input :year_of_production, label: 'Année de production', label_html: { class: 'labels' }%>
        </div>
        <div class="form-group">
          <%= f.input :price, label: 'Prix / jour', label_html: { class: 'labels' }%>
        </div>
        <div class="form-group">
          <%= f.input :address, label: 'Adresse de votre fusil', label_html: { class: 'labels' }%>
        </div>
        <div class="form-group">
          <%= f.input :photo, label: 'Photo', label_html: { class: 'labels' }%>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="form-group submit">
          <%= f.submit "Ajoute ton arme", class: "btn btn-primary"%>
        </div>

      <% end %>
    </div>
  </div>
</div>
