<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="weapon-banner">
        <div class="weapon-info">
          <%= link_to guns_path do %>
            <div class="back-to-index-button">
              <p> <i class="fas fa-arrow-circle-left"></i> Back</p>
            </div>
          <% end %>
          <div class="header-show">
            <p class="weapon-info-name"><strong><%= @gun.name %></strong></p>
            <p class="weapon-info-description"><%= @gun.description %></p>
            <p class="weapon-info-price"><strong><%= @gun.price %>€</strong></p>

            <!-- ajouter la photo -->
          </div>
          <div class="weapon-main-info">
            <ul class="weapon-info-list">
              <li class = "weapon-info-li"><i class="show-icons fas fa-certificate"></i><p class="weapon-info-category">Catégorie : <%= @gun.category %></p></li>
              <li class = "weapon-info-li"><i class="show-icons fas fa-clock"></i><p class="weapon-info-category">Année de production : <%= @gun.year_of_production %></p></li>
              <li class = "weapon-info-li"><i class="show-icons fas fa-user"></i><p class="weapon-info-category">Propriétaire : <%= @gun.user.email %></p></li>
              <li class = "weapon-info-li"><i class="show-icons fas fa-location-arrow"></i><p class="weapon-info-category">Adresse : <%= @gun.address %></p></li>
              <li class = "weapon-info-li"><i class="show-icons fas fa-smile"></i><p class="weapon-info-category">Avis  :
                  <% if @gun.average_rating == 1 %>
                  <p><i class="far fa-star js-star"></i></p>
                  <% elsif @gun.average_rating == 2 %>
                  <p><i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i></p>
                  <% elsif @gun.average_rating == 3 %>
                  <p><i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i></p>
                  <% elsif @gun.average_rating == 4 %>
                  <p><i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i></p>
                  <% elsif @gun.average_rating == 5 %>
                     <i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i>
                     <i class="far fa-star js-star"></i></p>
                  <% end %>
              </p></li>
            </ul>
          </div>
          <% if current_user == @gun.user %>
            <%= link_to  "Voir cette arme dans mon profil", monprofil_path, class: "btn btn-primary" %>
          <% elsif user_signed_in? %>
            <%= link_to "Reserver cette arme", new_gun_booking_path(@gun), class: "btn btn-primary" %>
          <% else %>
            <button type="button" class="btn weapon-reserve-btn" data-toggle="modal" data-target="#ConnexionModal">Réserver cette arme</button>
          <% end %>
        </div>
        <div class="weapon-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @gun.photo, crop: :fill%>');">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ConnexionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Se connecter</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <input type="hidden" name="url" value="book-weapon">

          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "log-in-button-in-modal" %>
          </div>
        <% end %>

        <%= render "devise/shared/links_on_connexion_navbar_modal" %>
      </div>
    </div>
  </div>
</div>


