<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://a.ltrbxd.com/resized/sm/upload/oy/ok/kt/6q/gran-torino-1920-1920-1080-1080-crop-000000.jpg?k=7d21e5f86e');">
  <div class="banner-content">
    <h1>Reservez <%= @gun.name %></h1>
    <p>Entrez vos détails de réservation</p>
  </div>
</div>

<div class="row form-booking">
    <div class="col-sm-offset-4 col-sm-4">
      <%= simple_form_for([@gun, @booking]) do |f| %>
        <div class="form-group">
          <%= f.input :start_date, label: 'Date de début de location', label_html: { class: 'labels' }%>
        </div>
        <div class="form-group">
          <%= f.input :end_date, label: "Date de fin de location", class: 'labels' %>
        <div class="form-group submit">
          <%= f.submit "Add your gun", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
