<div class="wrapper-review">
  <div class = "container ">
    <div class = "review-sumup">
      <div class="row">
        <div class="col-md-4 ">
          <div class="card-avis">
            <div class="card-head" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @booking.gun.photo, crop: :fill%>');">
            </div>
            <div class="card-body">
             <div class="card-category">
               <h2><%= @booking.gun.category %></h2>
             </div>
             <div class="card-description">
               <div class="card-name">
                 <h2><%= @booking.gun.name %></h2>
               </div>
               <div class="card-price">
                 <%= @booking.gun.price %> €
                 <p class="jour">/jour</p>
               </div>
             </div>
            </div>
          </div>
        </div>
        <div class="rent-recap">
          <div class="col-md-4">
           <div class="rent-to">
            <p><strong> Vous avez loué cette arme à : </strong></p>
            <i> <%= @booking.gun.user.email %></i>
           </div>
           <div class="loc-date">
            <p class ="dates-avis"><strong>Dates de la location : </strong></p>
            <i class="infos-avis"> Du <%= @booking.start_date %> Au <%= @booking.end_date  %></i>
           </div>
           <div class="loc-price">
            <p> <strong>Pour un total de </strong> </p>
            <p class= "price-avis"> <%= @booking.amount %> €</p>
           </div>
          </div>
         </div>
         <div class="row form">
             <div class="col-md-4">
               <%= simple_form_for([@booking, @review]) do |f| %>
                 <div class="form-group">
                   <%= f.input :content, label: "Avis sur l'arme et son propriétaire", label_html: { class: 'labels' }%>
                 </div>
                 <div class="form-group">
                   <i class="far fa-star js-star" data-value="1"></i>
                    <i class="far fa-star js-star" data-value="2"></i>
                    <i class="far fa-star js-star" data-value="3"></i>
                    <i class="far fa-star js-star" data-value="4"></i>
                    <i class="far fa-star js-star" data-value="5"></i>
                    <%= f.input :rating, as: :hidden%>
                 <div class="form-group submit">
                   <%= f.submit "Laisser un avis", class: "btn btn-primary"%>
                 </div>
               <% end %>
             </div>
           </div>
         </div>
      </div>
    </div>
</div>
